{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Kids Art Show: Home</title>
	<link rel='stylesheet' href='{% static "css/base.css" %}'/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS (CDN) -->
    <link rel="stylesheet" href={% static "css/materialize.min.css" %}>
    <!-- Import jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Style -->
    {% block style %}
    {% endblock %}
</head>
<body>

{% block navbar %}

{% endblock %}

{% block userprofile %}
{% endblock %}

{% block content %}

{% endblock %}

{% block homepage %}

{% endblock %}
</body>
</html>