{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='{% static "css/base.css" %}'/>
</head>
<body>
<nav class='main-nav'>
	<ul class="pull-left first-nav">
        <li><a href='{% url "homepage" %}'><h1>Kids Artshow</h1></a></li>
	</ul>
	<ul class='pull-right'>
		<li><a href='{% url "arts:list" %}'>Arts gallery</a></li>
		<li><a href='{% url "arts:create" %}'>Add arts</a></li>
	</ul>
</nav>
<div class='main-content'>
{% block content %}

{% endblock %}
</div>
</body>
</html>