<!--
    *MET-CS-699 Term Project Prototype Landing Page
    *Maya Shen
-->
{% extends 'base.html' %}

{% block style %}
     <style>

        body{
              height: 100%;
            margin: 0;
            padding: 0;
          background:#f5f5f5;
        }

        nav{
          background: rgba(0, 0, 0, 0.2);
          padding:0px 30px;
        }

    </style>
{% endblock %}

{% block navbar %}
    <nav>
      <div class="nav-wrapper">
         <a href='{% url "arts:list" %}' class="brand-logo">Kid Art Show</a>
         <ul class="right hide-on-med-and-down">
             {%  if user.is_authenticated %}
                <li><a href='{% url "arts:list" %}'>Arts gallery</a></li>
{#                <li><a href='{% url "arts:create" %}'>Add new arts</a></li>#}
                <li><a href="{% url 'logout' %}" class="red">Logout</a></li>
             {% else %}
               <li><a href="{% url 'login' %}" class="red">Login</a></li>
               <li><a href="{% url 'register' %}" >Register</a></li>
             {% endif %}
         </ul>
      </div>
    </nav>
{% endblock %}

{% block homepage %}

    <!--Background Picture-->
      <div class = 'homesection'>

      </div>

    <!--Center Text-->
    <div class='fullscreenDiv'>
        <div class="center">
          <h1> Uncap Creativity </h1>
          <a class="waves-effect waves-light btn-large">SignUp</a>
        </div>
    </div>​

    <!--Footer-->
    <footer class="page-footer red lighten-1">
      <div class="container">
      Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">Some Link</a>
      </div>
    </footer>
{% endblock %}

<!-- Script -->


