<!-- basic login template, cf. https://wsvincent.com/django-custom-user-model-tutorial/ -->
<!-- will be picked up automagically by base Django authentication system.,
cf. https://simpleisbetterthancomplex.com/tutorial/2016/06/27/how-to-use-djangos-built-in-login-system.html -->
{% extends 'kids_art_show/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block nav_bar %}
    {% include "kids_art_show/main_nav_bar.html" with disable_login=True %}
{% endblock %}

{% block content %}
    <div class="container-fluid">
    <h2>Login</h2>
    {# Currently assumes that there is an associated FormHelper with a layout that provides required buttons. #}
    {% crispy form %}
    </div>
{% endblock %}
