<!-- basic login template, cf. https://wsvincent.com/django-custom-user-model-tutorial/ -->
<!-- will be picked up automagically by base Django authentication system.,
cf. https://simpleisbetterthancomplex.com/tutorial/2016/06/27/how-to-use-djangos-built-in-login-system.html -->
{% extends 'kids_art_show/base.html' %}
{#{% load bootstrap3 %}#}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-fluid center_div">
    <h2>Login</h2>
{% crispy form %}
</div>
{#    {% bootstrap_form form layout="horizontal"%}#}
{#    {% bootstrap_button "Login" button_type="submit" %}#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <button type="submit">Login</button>#}
{#</form>#}
{% endblock %}
