form.form-inline {
    display:inline;
}
div.inline_form_spacer {
    padding:5px;
    display:inline-block;
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}