{% extends 'base.html' %}

{% block navbar %}
    <nav>
      <div class="nav-wrapper">
         <a href='{% url "arts:list" %}' class="brand-logo">Kid Art Show</a>
         <ul class="right hide-on-med-and-down">
{#            <li><a href='{% url "arts:list" %}'>Arts gallery</a></li>#}
             {%  if request.user.is_authenticated %}
                    <li><a href='{% url "arts:create" %}'>Add new arts</a></li>
                    <li><a href="{% url 'logout' %}" class="red">Logout</a></li>
             {% else %}
                   <li><a href="{% url 'login' %}" class="red">Login</a></li>
                   <li><a href="{% url 'register' %}" >Register</a></li>
             {% endif %}
         </ul>
      </div>
    </nav>
{% endblock %}

{% block userprofile %}
    <h1> Seller Dashboard</h1>
    <!--User Profile-->
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card-panel grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
              <div class="col s2">
                <img src="img/a.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
              </div>
              <div class="col s10">
                <span class="black-text">
                  <h4>{{request.user}}</h4>
                  Spaces left for user profile descriptions etc.
                  Spaces left for user profile descriptions etc.
                </span>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block content %}

    <div class="container center_div ">
        <div class="row card">

          {% for art in arts %}
              {% empty %}
              <li> You dont' have any arts uploaded.</li>
          <div class="col s12 m6 l4">
            <a href="{{ art.get_absolute_url }}"><img src="{{ art.file.url }}" style="width: 150px;"/></a>
          </div>
           {% endfor %}

      </div>

{% endblock %}