<!-- AJB 10/28/18: base template with Bootstrap styles -->
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <!--Signal browser website is optimized for mobile-->
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <!-- title block can be overridden in template subclasses -->
    <title>{% block title %}Kids Art Show{% endblock %}</title>
    {# Load Boostrap CSS #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'kids_art_show/design.css' %}">
    {#  section for extra styles/pieces related to particular pages  #}
    {% block extra_styles %}{% endblock extra_styles %}
</head>
<body>
<!--NavBar-->
{% block nav_bar %}
{% endblock nav_bar %}
<div id="content">
    {% block content %}
    {% endblock %}
</div>
{% block footer %}
{% endblock footer %}
</body>
<!-- links to scripts used -->
{% bootstrap_javascript jquery=0 %}
{# use js cookies to deal with csrf protection in AJAX queries, as per Django by Example 2 #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script>
    var csrftoken = Cookies.get('csrftoken');
    function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
      }
    });
    $(document).ready(function(){
      {% block domready %}
      {% endblock %}
       });
  </script>
{% block custom_js %}{% endblock %}
</html>