<!-- AJB 10/28/18: base template with Maya's styles -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS (CDN) -->
    <!-- TODO: Do we need both materialized and bootstrap here? -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Linked Bootstrap CDN-->
{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>#}
    <!-- Import jquery-->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>#}
    <!--Signal browser website is optimized for mobile-->
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <!-- title block can be overridden in template subclasses -->
    <title>{% block title %}Kids Art Show{% endblock %}</title>
    <!--Maya's CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'kids_art_show/Maya.css' %}">
    {#  section for extra styles/pieces related to particular pages  #}
    {% block extra_styles %}{% endblock extra_styles %}
</head>
<body>
<!--NavBar-->
{% block nav_bar %}
{% endblock nav_bar %}
  <main>
    {% block content %}
    {% endblock %}
  </main>
{% block footer %}
{% endblock footer %}
</body>
<!-- links to scripts used -->
<!-- TODO: do we use all of these scripts? -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
</html>