<!-- AJB 10/28/18: base template with Bootstrap styles -->
{% load static %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <!--Signal browser website is optimized for mobile-->
    <meta charset="utf-8"
          name="viewport"
          content="width=device-width, initial-scale=1.0"/>
    <!-- title block can be overridden in template subclasses -->
    <title>{% block title %}Kids Art Show{% endblock %}</title>
    {# Load Boostrap CSS #}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'kids_art_show/design.css' %}">
    {#  section for extra styles/pieces related to particular pages  #}
    {% block extra_styles %}{% endblock extra_styles %}
</head>
<body>
<!--NavBar-->
{% block nav_bar %}
{% endblock nav_bar %}
<main>
    {% block content %}
    {% endblock %}
</main>
{% block footer %}
{% endblock footer %}
</body>
<!-- links to scripts used -->
{# load both Boostrap and jquery using tags #}
{% bootstrap_javascript jquery=1 %}
{% block custom_js %}{% endblock %}
</html>