{% extends 'kids_art_show/base.html' %}
{% load static %}
<!--
    *MET-CS-699 Term Project Prototype Landing Page
    *Maya Shen
    # TODO: inherit from base.html so same CSS styles apply to all templates
-->

{% block title %}Kids Art Show: Home Page{% endblock %}

{% block extra_styles %}
    <style>
        section{
        background-image: url("{% static 'Media/cat.jpg' %}");
        background-size: cover;
        width: 100%;
        height: 900px;
        }
    </style>
{% endblock %}

<!--NavBar-->
{% block nav_bar %}
    <nav>
        <div class="nav-wrapper">
           <a href="#" class="brand-logo">Kid Art Show</a>
           <ul class="right hide-on-med-and-down">
               {% if user.is_authenticated %}
               <li><a href="{% url 'user_profile' %}">Profile</a></li>
               <li><a href="{% url 'logout' %}">Logout</a></li>
               {% else %}
               <li><a href="{% url 'about' %}">About</a></li>
               <li><a href="{% url 'login' %}" class="red">Login</a></li>
               <li><a href="{% url 'signup' %}">Sign Up</a></li>
               {% endif %}
           </ul>
        </div>
    </nav>
{% endblock nav_bar %}

{% block content %}
  <!--Background Picture-->
    <section>

    </section>
  <!--Center Text-->
  <div class='fullscreenDiv'>
      <div class="center">
        <h1> Uncap Creativity </h1>
        <a class="waves-effect waves-light btn-large" href="{% url 'signup' %}">Register</a>
      </div>
  </div>​

  {% if messages %}
    {% for message in messages %}
        <div>
            <h1>{{ message }}</h1>
        </div>
    {% endfor %}
  {% endif %}

{% endblock content %}

{% block footer %}
  <!--Footer-->
  <footer class="page-footer red lighten-1">
    <div class="container">
    Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">Some Link</a>
    </div>
  </footer>
{% endblock footer %}
