{# AJB 11/21/18: main nav bar as included template, re-used across pages #}
{# AJB 12/1/18: copy example navbar from bootstrap docs #}
    {# cf. https://getbootstrap.com/docs/3.3/components/#navbar #}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Kids Art Show</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'feed' %}">Art Feed</a></li>
          {% if not user.is_authenticated %}
              <li {% if activePage == "about" %}class="active"{% endif %}><a href="{% url 'about' %}">About</a></li>
          {% else %}
            {# TODO: fix this styling using a basic css selector #}
              <li {% if activePage == "dashboard" %}class="active"{% endif %}><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
              <li {% if activePage == "createPost" %}class="active"{% endif %}><a href="{% url 'create_post' %}">Create Post</a></li>
          {% endif %}
      </ul>
        {% if not user.is_authenticated and not disable_login_widget %}
          <div class="inline_form_spacer">
            {% crispy login_form %}
          </div>
        {% endif %}
      <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}">Logout</a></li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle"
                     data-toggle="dropdown" role="button"
                     aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{% url 'manage_artists' %}">Manage Artists</a></li>
                  </ul>
              </li>
          {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
              <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{#<script type="text/javascript">#}
{#    var frm = $('#FORM-ID');#}
{#    frm.submit(function () {#}
{#        $.ajax({#}
{#            type: frm.attr('method'),#}
{#            url: frm.attr('action'),#}
{#            data: frm.serialize(),#}
{#            success: function (data) {#}
{#                $("#SOME-DIV").html(data);#}
{#            },#}
{#            error: function(data) {#}
{#                $("#MESSAGE-DIV").html("Something went wrong!");#}
{#            }#}
{#        });#}
{#        return false;#}
{#    });#}
{#</script>#}

{#<nav>#}
{#    <div class="nav-wrapper">#}
{#       <a href="{% url 'home' %}" class="brand-logo">Kid Art Show</a>#}
{#       <ul class="right hide-on-med-and-down">#}
{#           <li><a href="{% url 'about' %}">About</a></li>#}
{#           {% if user.is_authenticated %}#}
{#               <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>#}
{#               <li><a href="{% url 'manage_artists' %}">Manage Artists</a></li>#}
{#               <li><a href="{% url 'user_profile' %}">Profile</a></li>#}
{#               <li><a href="{% url 'logout' %}">Logout</a></li>#}
{#           {% else %}#}
{#               <li><a href="{% url 'login' %}" class="red">Login</a></li>#}
{#               <li><a href="">Sign Up</a></li>#}
{#           {% endif %}#}
{#       </ul>#}
{#    </div>#}
{#</nav>#}