{# AJB 11/21/18: main nav bar as included template, re-used across pages #}
<nav>
    <div class="nav-wrapper">
       <a href="{% url 'home' %}" class="brand-logo">Kid Art Show</a>
       <ul class="right hide-on-med-and-down">
           <li><a href="{% url 'about' %}">About</a></li>
           {% if user.is_authenticated %}
               <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
               <li><a href="{% url 'manage_artists' %}">Manage Artists</a></li>
{#               <li><a href="{% url 'user_profile' %}">Profile</a></li>#}
               <li><a href="{% url 'logout' %}">Logout</a></li>
           {% else %}
               <li><a href="{% url 'login' %}" class="red">Login</a></li>
               <li><a href="{% url 'signup' %}">Sign Up</a></li>
           {% endif %}
       </ul>
    </div>
</nav>