<!-- AJB 10/28/18: base template with Maya's styles -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS (CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Import jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Signal browser website is optimized for mobile-->
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- title block can be overridden in template subclasses -->
    <title>{% block title %}Kids Art Show{% endblock %}</title>
    <!--Maya's CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'kids_art_show/Maya.css' %}">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>