<!-- basic signup form, cf. https://wsvincent.com/django-custom-user-model-tutorial/ -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">This is the Register Page</h1>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a href="#">Sign in</a>
            </small>
        </div>
    </div>
{#<h2>Sign up</h2>#}
{#<form method="post">#}
{#  {% csrf_token %}#}
{#  {{ form.as_p }}#}
{#  <button type="submit">Sign up</button>#}
{#</form>#}
{% endblock %}
